#course-extra-info-box {
  float: right;
  width: 50%;
  border: 1px solid black;
  visibility: hidden;
}

.semester-tag {
  color: #333;
  background-color: #dde;
  font-size: x-small;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px;
}

#footer {
  position: fixed;
  text-align: right;
  font-size: x-small;
  padding: 5px;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.info-link {
  font-size: x-small;
}

#info-box-closer {
  float: right;
  font-size: x-small;
}
