#gen-schedules-button * {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .hide-narrow {
    display: none;
  }

  .event {
    font-size: x-small;
  }
}

@media (min-width: 768px) {
  .event {
    font-size: small;
  }
}

.disabled-course-label {
  color: #999;
}

.expando {
  text-decoration: none;
}

.forbid-link {
  text-decoration: none;
  font-style: italic;
  font-size: small;
}

#info-box-closer {
  text-align: right;
  font-size: x-small;
}

.course-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#rendered-schedule-container {
  width: 100%;
  height: 400px;
  display: inline-block;
}

#day-headers {
  width: 100%;
  table-layout: fixed;
}

#rendered-schedule {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#rendered-schedule .event {
  border: thin solid #777;
  position: absolute;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #eee;
}

#rendered-schedule .grid-line {
  border-top: thin solid #ccc;
  position: absolute;
  z-index: -1;

  /* Showing the actual time */
  font-size: x-small;
  color: #666;
}

.event {
  line-height: 1.2;
  overflow: hidden;
  padding: 3px;
}

.event .course-name {
  font-weight: bold;
}

.event .location {
}

.event .location::after {
  content: "@";
}

.event .event-type::before {
  content: "[";
}

.event .event-type::after{
  content: "]";
}

.event .event-type {
  font-size: xx-small;
}

.error {
  border: thin solid #300;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #fdd;
  color: #500;
}

.info {
  border: thin solid #003;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #ddf;
  color: #005;
}
